{% extends 'base.html.twig' %}

{% block title %}Temperature{% endblock %}

{% block body %}
    <h1>Temperature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ temperature.id }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ temperature.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ temperature.city }}</td>
            </tr>
            <tr>
                <th>Avg_temperature</th>
                <td>{{ temperature.avgTemperature }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('temperature_index') }}">back to list</a>

    <a href="{{ path('temperature_edit', {'id': temperature.id}) }}">edit</a>

    {{ include('temperature/_delete_form.html.twig') }}
{% endblock %}
